# First print your name in the cell below then save this file. (or something nice about your instructor)

In [19]:
# In this cell print your name 
print("Marina Morcos")

Marina Morcos

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [20]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [21]:
# Load data here
df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [22]:
# 1. How many listings are there with a price less than 100? 

price_less_100 = df["price"] < 100 
prices = df[price_less_100].value_counts()
prices

#There are 17819 listings with the price less than 100.

id        name                                                host_id    host_name    neighbourhood_group  neighbourhood       latitude  longitude  room_type        price  minimum_nights  number_of_reviews  last_review  reviews_per_month  calculated_host_listings_count  availability_365
3831      Whole flr w/private bdrm, bath & kitchen(pls read)  4869       LisaRoxanne  Brooklyn             Clinton Hill        40.68514  -73.95976  Entire home/apt  75     1               340                2020-08-01   4.75               1                               265                 1
5121      BlissArtsSpace!                                     7356       Garon        Brooklyn             Bedford-Stuyvesant  40.68688  -73.95596  Private room     60     29              50                 2019-12-02   0.37               1                               365                 1
5178      Large Furnished Room Near B'wayã€€                    8967       Shunichi     Manhattan            Hell's Kitchen      40.76489  -73.98493  Private room     65     2               473                2020-03-15   3.44               1                               340                 1
5203      Cozy Clean Guest Room - Family Apt                  7490       MaryEllen    Manhattan            Upper West Side     40.80178  -73.96723  Private room     75     2               118                2017-07-21   0.89               1                               0                   1
5803      Lovely Room 1, Garden, Best Area, Legal rental      9744       Laurie       Brooklyn             South Slope         40.66829  -73.98779  Private room     88     4               180                2020-03-18   1.31               3                               344                 1
                                                                                                                                                                                                                                                                                                  ..
44609727  Private room in a big apartment in Brooklyn         310776840  Alejandra    Brooklyn             Bedford-Stuyvesant  40.69146  -73.93433  Private room     40     1               1                  2020-08-09   1.00               4                               228                 1
44622787  Penthouse Private Room in Manhattan Roof Top View   172369331  Abby         Manhattan            Tribeca             40.71495  -74.01047  Private room     55     5               1                  2020-08-09   1.00               1                               168                 1
44633340  C.C - Brklyn Small but cozy room close to Subways   361101225  Roger        Brooklyn             Bushwick            40.68650  -73.90841  Private room     46     1               1                  2020-08-10   1.00               4                               364                 1
44655517  Sofa bed with ceiling fan and TV                    361530167  Rodrigo      Queens               Astoria             40.75694  -73.91833  Private room     25     1               1                  2020-08-14   1.00               1                               45                  1
44662157  Flushing Sunshine home #102                         361579037  Daniel       Queens               Flushing            40.74441  -73.82829  Private room     55     1               3                  2020-08-16   3.00               2                               365                 1
Name: count, Length: 17819, dtype: int64

In [23]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = df["neighbourhood_group"] == "Brooklyn"
df_bk_count = df[df_bk].value_counts()
df_bk_count

#There are 14858 brooklyn listings

id        name                                                host_id    host_name      neighbourhood_group  neighbourhood       latitude  longitude  room_type        price  minimum_nights  number_of_reviews  last_review  reviews_per_month  calculated_host_listings_count  availability_365
3831      Whole flr w/private bdrm, bath & kitchen(pls read)  4869       LisaRoxanne    Brooklyn             Clinton Hill        40.68514  -73.95976  Entire home/apt  75     1               340                2020-08-01   4.75               1                               265                 1
5121      BlissArtsSpace!                                     7356       Garon          Brooklyn             Bedford-Stuyvesant  40.68688  -73.95596  Private room     60     29              50                 2019-12-02   0.37               1                               365                 1
5136      Spacious Brooklyn Duplex, Patio + Garden            7378       Rebecca        Brooklyn             Sunset Park         40.66120  -73.99423  Entire home/apt  175    14              1                  2014-01-02   0.01               1                               295                 1
5803      Lovely Room 1, Garden, Best Area, Legal rental      9744       Laurie         Brooklyn             South Slope         40.66829  -73.98779  Private room     88     4               180                2020-03-18   1.31               3                               344                 1
6848      Only 2 stops to Manhattan studio                    15991      Allen & Irina  Brooklyn             Williamsburg        40.70837  -73.95352  Entire home/apt  109    2               181                2020-03-16   1.32               1                               0                   1
                                                                                                                                                                                                                                                                                                    ..
44435099  Private Room in Apartment You Can Rent in Brooklyn  358933697  Kenday         Brooklyn             East New York       40.67210  -73.87946  Private room     45     1               1                  2020-07-29   1.00               1                               344                 1
44445557  Two Bedroom Penthouse W/Balcony and Roof access     13603829   Kazi           Brooklyn             Kensington          40.63592  -73.97307  Entire home/apt  264    1               8                  2020-08-13   8.00               2                               359                 1
44461963  Newly Renovated Private Apartment                   143516082  Maria          Brooklyn             Bedford-Stuyvesant  40.68708  -73.95070  Entire home/apt  114    1               1                  2020-08-09   1.00               1                               124                 1
44609727  Private room in a big apartment in Brooklyn         310776840  Alejandra      Brooklyn             Bedford-Stuyvesant  40.69146  -73.93433  Private room     40     1               1                  2020-08-09   1.00               4                               228                 1
44633340  C.C - Brklyn Small but cozy room close to Subways   361101225  Roger          Brooklyn             Bushwick            40.68650  -73.90841  Private room     46     1               1                  2020-08-10   1.00               4                               364                 1
Name: count, Length: 14858, dtype: int64

In [24]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
price_less_100 = df["price"] < 100
df_bk = df["neighbourhood_group"] == "Brooklyn"

cheap_brook = df[price_less_100 & df_bk]
count = cheap_brook["price"].value_counts()
count

#There are 87 listings

price
50    738
60    595
75    552
70    503
80    496
     ...
17      5
16      4
15      3
0       2
10      1
Name: count, Length: 87, dtype: int64

In [25]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

name = ["Michael", "David", "John", "Daniel"]
condition = df.host_name.isin(name)
val = df["host_name"].value_counts()
val
# The total number of names there is 11094

host_name
Michael                 387
David                   348
John                    270
Daniel                  253
Blueground              249
                       ...
Stoney                    1
Virginia & Steve          1
Terumi                    1
Michael And Meredith      1
Dongho                    1
Name: count, Length: 11094, dtype: int64

In [26]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

adjusted_price = df["price"] + 100
df["adjusted_price"] = adjusted_price
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,275
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,175
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,160
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,275
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,165

In [27]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

private = df["room_type"] == "Private room"
public = df["room_type"] == "Entire home/apt"

private_percent = private.value_counts(normalize=True) * 100
private_percent 
#private rooms are 45 percent and 54 percent for shared

room_type
False    54.555419
True     45.444581
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [28]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
gb = df.groupby("neighbourhood_group")

In [29]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
val = gb['price'].mean()
val

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [30]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
val1 = df.groupby("room_type")["price"].mean()
val1

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [31]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
result = (
    df.groupby("neighbourhood_group")["price"]
      .agg(["min", "max"])
)

In [32]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
result = (
    df.groupby(["neighbourhood_group", "room_type"])["price"]
      .mean()
      .reset_index()
)

In [33]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
result = (
    df.groupby(["neighbourhood_group", "room_type"])["price"]
      .agg(count="count", 
           min="min", 
           max="max", 
           mean="mean", 
           median="median", 
           std="std")
      .reset_index()
)

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [34]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/listings.csv')
dn = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/n_listings.csv')

In [35]:
# 2. Do join that keeps all the records for each table.

joined = pd.merge(df, dn, on='neighbourhood_group')

In [42]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
joined.to_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv', index=False)

In [46]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
joined_reload = pd.read_csv("/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv")
joined_reload.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,n_listings
40390,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164,20580
40391,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85,20580
40392,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,18632
40393,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113,20580
40394,44818009,"5MIN D/N trains, NEAR THE BEACH, 50â€™ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,18632

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.