# First print your name in the cell below then save this file. (or something nice about your instructor)

In [2]:
# In this cell print your name 
print("Sofia Ivanchenko")
print("Zach you're an awesome dude... rlly like ur motivational quotes & u make me have hope" \
" for my future in cs LOLLL")

Sofia Ivanchenko
Zach you're an awesome dude... rlly like ur motivational quotes & u make me have hope for my future in cs LOLLL

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [6]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [8]:
# Load data here
df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/listings.csv')
print(df.head())

     id                                               name  host_id  \
0  2595                              Skylit Midtown Castle     2845
1  3831  Whole flr w/private bdrm, bath & kitchen(pls r...     4869
2  5121                                    BlissArtsSpace!     7356
3  5136           Spacious Brooklyn Duplex, Patio + Garden     7378
4  5178                   Large Furnished Room Near B'wayã€€     8967

     host_name neighbourhood_group       neighbourhood  latitude  longitude  \
0     Jennifer           Manhattan             Midtown  40.75362  -73.98377
1  LisaRoxanne            Brooklyn        Clinton Hill  40.68514  -73.95976
2        Garon            Brooklyn  Bedford-Stuyvesant  40.68688  -73.95596
3      Rebecca            Brooklyn         Sunset Park  40.66120  -73.99423
4     Shunichi           Manhattan      Hell's Kitchen  40.76489  -73.98493

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    175               3                 48  2019-11-04
1  Entire home/apt     75               1                340  2020-08-01
2     Private room     60              29                 50  2019-12-02
3  Entire home/apt    175              14                  1  2014-01-02
4     Private room     65               2                473  2020-03-15

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.37                               2               365
1               4.75                               1               265
2               0.37                               1               365
3               0.01                               1               295
4               3.44                               1               340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [12]:
# 1. How many listings are there with a price less than 100? 
# use boolean filtering -- u basically create T/F series and use it to select rows:

# find the cheap listings -- creates a series (temp object) that stores T values for this condition
cheap_listings = df[df['price'] < 100]
 # print(cheap_listings)

# count them
num_cheap_listings = len(cheap_listings)

print(f"There are: {num_cheap_listings} cheap listings available!!!!")

There are: 22778 cheap listings available!!!!

In [16]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = df[df['neighbourhood_group'] == 'Brooklyn']
# print(df_bk.head())

print(f"There are {len(df_bk)} listings in bk :P")

There are 18632 listings in bk :P

In [ ]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

# how is this stored? ik its in a temp obj but
# # i want to see the t/f values like we did in class but having trouble -- come back to this later 

bk_cheap = df_bk[df_bk['price'] < 100]
num_bk_cheap = len(bk_cheap)

print(num_bk_cheap)

10473

In [ ]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

hosts = ['Michael', 'David', 'John', 'Daniel']

# how does isin work on the backend? what does it do exactly/process 
selected_hosts = df[df['host_name'].isin(hosts)]

print(f"There are {len(selected_hosts)} hosts with that name (wow).")

There are 1258 hosts with that name (wow)

In [20]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

# create adj_price and copy everything from price
df['adjusted_price'] = df['price']

df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100

# check
williamsburg_listings = df[df['neighbourhood'] == 'Williamsburg']
print(williamsburg_listings[['price', 'adjusted_price']].head())

    price  adjusted_price
11    109             209
15    299             399
35    131             231
38    175             275
42     80             180

In [23]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_type_counts = df['room_type'].value_counts(normalize=True)

print(f"Room type %:\n\n{room_type_counts}")

Room type %:

room_type
Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [26]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

grouped_neighborhoods = df.groupby('neighbourhood_group').size()

print("size of each neighborhood listing:\n\n")
print(grouped_neighborhoods)

size of each neighborhood listing:


neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [ ]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

mean_price_by_group = df.groupby('neighbourhood_group')['price'].mean()

In [ ]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

mean_price_by_roomType = df.groupby('room_type')['price'].mean()

In [ ]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

"""The .agg() method is used when you want to apply 
multiple aggregation functions to your groups at the same time. 
You pass it a list of strings with the function names."""

min_max_price = df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

print("\nMin and max price per neighborhood group:")
print(min_max_price)

In [27]:
# 4. Using `groupby`, find the MEDIAN price for each room_type in each neighbourhood_group.

# Group by neighbourhood_group AND room_type to find the median price
median_price_multi_group = df.groupby(['neighbourhood_group', 'room_type'])['price'].median()

print("\nMedian price for each room type per neighborhood group:")
print(median_price_multi_group)

Median price for each room type per neighborhood group:
neighbourhood_group  room_type
Bronx                Entire home/apt    103.0
                     Private room        55.0
                     Shared room         44.0
Brooklyn             Entire home/apt    135.0
                     Hotel room         129.0
                     Private room        60.0
                     Shared room         36.0
Manhattan            Entire home/apt    165.0
                     Hotel room         210.0
                     Private room        80.0
                     Shared room         60.0
Queens               Entire home/apt    115.0
                     Hotel room         149.0
                     Private room        55.0
                     Shared room         40.0
Staten Island        Entire home/apt    111.0
                     Private room        55.0
                     Shared room         38.0
Name: price, dtype: float64

In [28]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Group by two columns and use .agg() to get multiple statistics
price_stats = df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

print("\nPrice statistics per room type per neighborhood group:")
print(price_stats)

Price statistics per room type per neighborhood group:
                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [41]:
# 1. Load the `prices.csv` and the `n_listings.csv`

prices_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/prices.csv')

n_listing_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/n_listings.csv')


print("Columns in prices_df:", prices_df.columns)
print("Columns in n_listings_df:", n_listing_df.columns)

Columns in prices_df: Index(['neighbourhood_group', ' mean_price'], dtype='object')
Columns in n_listings_df: Index(['neighbourhood_group;n_listings'], dtype='object')

In [42]:
# Rename the column in n_listings_df to match prices_df
n_listing_df.rename(columns={'neighbourhood_group;n_listings': 'neighbourhood_group'}, inplace=True)


merged_df = pd.merge(prices_df, n_listing_df, on='neighbourhood_group', how='outer')

In [43]:
# 2. Do join that keeps all the records for each table.
# go over this one again

merged_df = pd.merge(prices_df, n_listing_df, on='neighbourhood_group', how='outer')

print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
  neighbourhood_group   mean_price
0               Bronx    92.751479
1          Bronx;1183          NaN
2            Brooklyn   120.225258
3      Brooklyn;18632          NaN
4     LongIsland;4121          NaN
5           Manhattan   191.880466
6     Manhattan;20580          NaN
7              Queens    99.754965
8       Staten Island   110.947214

In [44]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

# index=False prevents writing the DataFrame's index to the file
merged_df.to_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv', index=False)

In [45]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

loaded_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv')

print(loaded_df)

  neighbourhood_group   mean_price
0               Bronx    92.751479
1          Bronx;1183          NaN
2            Brooklyn   120.225258
3      Brooklyn;18632          NaN
4     LongIsland;4121          NaN
5           Manhattan   191.880466
6     Manhattan;20580          NaN
7              Queens    99.754965
8       Staten Island   110.947214

In [ ]:
# im not going to lie, i messed up on this last part. im debugging and trying to get it to work again -- very confused (LOLLLLLL - i am crying internally) so i had gemini break this down

import pandas as pd

# 1. Load the files, specifying the separator for n_listings.csv
prices_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/prices.csv')
n_listings_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/n_listings.csv', sep=';')

# 2. Rename the column in n_listings_df to match prices_df
n_listings_df.rename(columns={'neighbourhood_group;n_listings': 'neighbourhood_group'}, inplace=True)

# 3. Perform an outer merge to join the two DataFrames
merged_df = pd.merge(prices_df, n_listings_df, on='neighbourhood_group', how='outer')

# 4. Save your joined csv as joined.csv into the data folder.
merged_df.to_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv', index=False)

# 5. Load your saved table to verify it looks correct
loaded_df = pd.read_csv('/workspaces/ds-fall-2025-fri-1230/Week-01-Pandas/data/joined.csv')

print("Corrected and Final Merged DataFrame:")
print(loaded_df)

# outputs look clean. i will be coming back to review this portion again in a bit

Corrected and Final Merged DataFrame:
  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.